.butt-link {
    width: 295px;
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;
    padding: 15px 0;
    border: 2px solid #fff;
    display: block;
    border-radius: 50px;
    font-family: "BebasNeueReg";
    color: #fff;
    background: linear-gradient(90deg, #309081, #56b855);
    -webkit-box-shadow: -5px -10px 36px -5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -5px -10px 36px -5px rgba(0, 0, 0, 0.4);
    box-shadow: -5px -10px 36px -5px rgba(0, 0, 0, 0.4);
    &:hover {
        color: #fff;
    }
}

.sec-lvl-1 {
    height: 100vh;
    position: relative;
    background: linear-gradient(90deg, #262f3f, #0c101e);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .menu-wr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 80px 0 80px;
        z-index: 10;
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                display: flex;
                margin: 0;
                list-style: none;
                a {
                    display: block;
                    padding: 35px 16px;
                    transition: 0.3s;
                    font-family: "BebasNeueReg";
                    color: #fff;
                    font-size: 18px;
                    letter-spacing: 1px;
                    &:hover {
                        color: #56b754;
                    }
                    &.active {
                        color: #56b754;
                    }
                }
            }
        }
    }
    
    .for-butt-and-logo {
        position: relative;
        z-index: 10;
    }
    .scroll-down {
        position: absolute;
        bottom: 65%;
        z-index: 10;
        right: 10px;
        font-family: "Montserrat-Light";
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        transform: rotate(-90deg);
        transform-origin: center;
        &:before {
            content: "";
            display: block;
            position: absolute;
            right: calc(100% + 15px);
            top: 50%;
            width: 120px;
            height: 1px;
            background: #fff;
            line-height: 14px;
        }
    }
    .img-rotate {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        animation: rotate-img 45s infinite linear;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        background-image: url(../img/hard-bg-1.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 576px;
    }
}

@keyframes rotate-img {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes rotate-img {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.sec-lvl-2 {
    overflow: hidden;
    .for-m-w {
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            right: 100%;
            top: 0;
            width: 236px;
            height: 643px;
            background-image: url(../img/melnitsa.jpg);
            background-repeat: no-repeat;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 912px;
            height: 694px;
            top: 65px;
            left: 65%;
            background-image: url(../img/111111.png);
            background-repeat: no-repeat;
        }
    }
    .sliders-wr {
        width: 65%;
        position: relative;
        z-index: 10;
        .my-sl-nav {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
            padding-bottom: 10px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                width: 333px;
                height: 3px;
                background: #60a303;
            }
            span {
                font-family: "BebasNeueReg";
                font-size: 30px;
                color: #a9a9a9;
                transition: 0.3s;
                cursor: pointer;
                font-weight: bold;
                line-height: 52px;
                &.active {
                    font-size: 48px;
                    color: #000;
                }
            }
        }
    }
    .sl-2 {
        .slide {
            outline: none;
            .mw-my {
                max-width: 555px;
                p {
                    font-family: "Montserrat-ExtraLight";
                    font-size: 18px;
                }
            }
            &:last-child {
                .mw-my {
                    margin-left: auto;
                    text-align: right;
                }
            }
        }
        .slick-arrow {
            display: block;
            position: absolute;
            top: -117px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            outline: none;
            background-image: url(../img/arr-right.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 36px;
            height: 36px;
            background-color: transparent;
            border: none;
            font-size: 0;
            background-size: 22px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            cursor: pointer;
            &.slick-next {
                right: -50px;
            }
            &.slick-prev {
                -webkit-transform-origin: center;
                transform-origin: center;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                top: -135px;
                left: -50px;
            }
            &.slick-disabled {
                opacity: 0;
            }
        }
    }
    .max_width_container {
        .slider-wr-team {
            padding: 60px 0 30px 0;
            h3 {
                position: relative;
                font-size: 48px;
                font-family: "BebasNeueReg";
                text-align: center;
                margin-bottom: 70px;
                &:before {
                    content: "";
                    display: block;
                    width: 70px;
                    height: 3px;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #56b854;
                }
            }
            .for-padd {
                padding: 0 50px;
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 58px;
                    width: 100%;
                    left: 0;
                    height: 1px;
                    background: #eeeeee;
                }
                .slider-advisors {
                    .one-slide {
                        outline: none;
                        padding: 0 15px;
                        .ava {
                            width: 115px;
                            height: 115px;
                            border: 6px solid #e7e7e7;
                            border-radius: 50%;
                            background-size: cover;
                            background-position: center;
                            margin: 0 auto 18px auto;
                        }
                        p {
                            font-size: 14px;
                            color: #595d68;
                            text-align: center;
                            font-family: "Montserrat-Regular";
                            &.name {
                                font-weight: bold;
                                font-family: "BebasNeueReg";
                                font-size: 18px;
                                letter-spacing: 1.5px;
                                text-align: center;
                                margin-bottom: 9px;
                                color: #000;
                            }
                        }
                    }
                    .slick-arrow {
                        display: block;
                        position: absolute;
                        top: 40px;
                        width: 35px;
                        height: 35px;
                        border: 3px solid #eeeeee;
                        background: #fff;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 0;
                        outline: none;
                        &:before {
                            content: "";
                            display: block;
                            background-image: url(../img/arr-right-2.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 14px;
                            height: 14px;
                            width: 14px;
                        }
                        &.slick-disabled {
                            &:before {
                                opacity: 0.5;
                            }
                        }
                        &.slick-prev {
                            right: calc(100% + 12px);
                            transform-origin: center;
                            transform: rotate(180deg);
                        }
                        &.slick-next {
                            left: calc(100% + 12px);
                            &:before {
                                position: relative;
                                left: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-counters {
    padding: 260px 0 120px 0;
    .rel-wrapp {
        position: relative;
        display: flex;
        .left-side {
            padding-top: 60px;
            width: 47%;
            position: relative;
            z-index: 10;
            .for-flex-line {
                display: flex;
                margin-bottom: 100px;
            }
            .main-counter {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p {
                    color: #0c142b;
                    font-size: 65px;
                    font-family: "BebasNeueReg";
                    font-weight: bold;
                }
                span {
                    font-family: "BebasNeueReg";
                    font-size: 70px;
                    color: #fd7400;
                    font-weight: bold;
                }
            }
            .circular-pie {
                line-height: normal !important;
                position: relative;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                flex-direction: column;
            }
            canvas {
                position: absolute;
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
        .right-side {
            padding-top: 200px;
            width: 53%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            position: relative;
            .hard-bg-2 {
                left: -147px;
                position: absolute;
                top: 50%;
                width: 1146px;
                height: 2787px;
                background-image: url(../img/hard-bg-2.png);
                background-repeat: no-repeat;
                top: -1015px;
            }
            p {
                position: relative;
                z-index: 10;
            }
            .hh {
                color: #fff;
                font-size: 18px;
                font-family: "Montserrat-Regular";
                top: 40px;
            }
            .outher-counters {
                position: relative;
                top: 61px;
                .pie {
                    line-height: normal !important;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    canvas {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                    }
                    &.circular-pie_3 {
                        canvas {
                            transform: translateX(-50%) rotate(200deg);
                        }
                    }
                    &.circular-pie_4 {
                        canvas {
                            transform: translateX(-50%) rotate(262deg);
                        }
                    }
                }
                .one-counter {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;
                    span {
                        display: block;
                        font-family: "BebasNeueReg";
                        color: #fff;
                        font-size: 30px;
                        font-weight: bold;
                    }
                    p {
                        padding-left: 20px;
                        position: relative;
                        z-index: 10;
                        color: #fff;
                        font-size: 24px;
                        font-family: "BebasNeueReg";
                    }
                }
            }
        }
    }
}

#what_we_offer {
    position: relative;
    z-index: 10;
}

.footer {
    padding: 0;
    margin-top: -50px;
    padding-bottom: 15px;
    padding-top: 285px;
    background-color: #28a994;
    background-image: url(../img/footer-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 338px;
        background-image: url(../img/hard-bg-3.png);
        background-repeat: no-repeat;
    }
    .for-flex-footer {
        margin-bottom: 10px;
        display: flex;
        position: relative;
        z-index: 10;
        justify-content: space-between;
        .head {
            font-size: 48px;
            color: #fff;
            font-family: "BebasNeueReg";
            font-weight: bold;
            margin: 0;
            line-height: 48px;
        }
        .soc-set-links {
            padding-top: 20px;
            a {
                display: block;
                color: #fff;
                font-family: "BebasNeueReg";
                margin-bottom: 16px;
                letter-spacing: 1px;
                &:hover {
                    color: #fff;
                }
            }
        }
        .sec-t {
            display: block;
            color: #fff;
            font-family: "BebasNeueReg";
            letter-spacing: 1px;
        }
        form {
            input {
                display: block;
                padding: 1rem 2rem;
                border-radius: 5px;
                max-width: 300px;
                outline: none;
                background: #22918b;
                border: none;
                width: 100%;
                font-family: "Montserrat-Regular";
                letter-spacing: 1px;
                color: #fff;
                margin-bottom: 1.8rem;
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
            button {
                display: block;
                visibility: hidden;
            }
        }
    }
    .align {
        text-align: center;
        font-family: "BebasNeueReg";
        font-size: 18px;
        color: #fff;
    }
}

.for-flag {
    width: 50px;
    position: relative;
    color: #fff;
    font-family: "BebasNeueReg";
    letter-spacing: 1px;
    .dropdown-wrch {
        display: none;
    }
    .flag-vr {
        padding-left: 22px;
        padding-right: 15px;
        text-transform: uppercase;
        cursor: pointer;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 18px;
            height: 12px;
            background: url(../img/en.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 9px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #fff transparent transparent transparent;
        }
    }
    .pick-lang {
        position: absolute;
        left: 0;
        border: 1px solid #ffffff;
        z-index: 20;
        top: 100%;
        a {
            color: #fff;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            display: block;
            padding: 2px 16px;
            font-size: 16px;
        }
    }
}

.sec-fixed-menu {
    position: fixed;
    top: -800px;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1000;
    transition: 1s;
    &.js-fixed{
        top: 0;
    }
    .left-side {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        img {
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }
        .name {
            padding-left: 10px;
            font-family: "BebasNeueReg";
            font-size: 22px;
            color: #539b07;
        }
    }
    .menu-wr {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 80px 0 80px;
        z-index: 10;
        background: #fff;
            -webkit-box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.05);
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                display: flex;
                margin: 0;
                list-style: none;
                a {
                    display: block;
                    padding: 28px 16px;
                    transition: 0.3s;
                    font-family: "BebasNeueReg";
                    color: #595d68;
                    font-size: 18px;
                    letter-spacing: 1px;
                    &:hover {
                        color: #56b754;
                    }
                    &.active {
                        color: #56b754;
                    }
                }
            }
        }
    }
}
.sec-lvl-16 {
    padding-top: 90px;
    .for-m-w {
        max-width: 900px;
        margin: 0 auto;
        h4 {
            font-family: "BebasNeueReg";
            text-align: center;
            font-weight: normal;
            font-size: 56px;
            letter-spacing: 0.4px;
            text-decoration: underline;
            margin-bottom: 50px;
        }
        .port-wr {
            display: flex;
            flex-wrap: wrap;
            .one-port {
                padding: 0 25px;
                margin-bottom: 50px;
                width: 50%;
                cursor: pointer;
                .port {
                    display: flex;
                    align-items: center;
                    background-color: #ffffff;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
                    height: 152px;
                    .left-side {
                        width: 35%;
                        flex-shrink: 0;
                        img {
                            margin: 0 auto;
                        }
                    }
                    .right-side {
                        width: 100%;
                        img {
                            margin: 0 auto 10px auto;
                            max-width: 240px;
                        }
                        p {
                            margin: 0;
                            &.my-center {
                                text-align: center;
                            }
                            &.name {
                                font-family: "BebasNeueReg";
                                font-size: 36px;
                                letter-spacing: 0.3px;
                                line-height: 36px;
                            }
                            &.sec-desc {
                                font-family: "BebasNeueReg";
                                font-size: 20px;
                                line-height: 1.5;
                                letter-spacing: 0.2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.modal-dialog {
    width: 700px;
        margin: 30px auto;
}
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-header {
    border: none;
    padding-top: 30px;
    position: relative;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal.modal-company .company-logo {
    margin-top: 15px;
    margin-left: 25px;
}
.modal.modal-company .company-logo img {
    max-height: 63px;
}
.modal button.close {
    text-shadow: none;
    background: none;
    position: absolute;
    right: 16px;
    top: 12px;
    z-index: 10;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.modal-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #586A8F;
}
.modal.modal-company .company-container {
    margin-left: 10px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
}


.modal.modal-company .company-container .row {
    margin-bottom: 20px;
}
.modal {
    background: rgba(0,0,0,0.9);
         font-family: "Montserrat-Regular";
    a{
        color: #f23545;
    }
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.modal button.close svg {
    width: 40px;
    height: 40px;
}

.parteners{
    background: #fff;
    padding: 82px 0 0 0;

     h3 {
        font-weight: 0;
        font-family: "BebasNeueReg";
        text-align: center;
        line-height: 0.83;
        letter-spacing: 0.3px;
        font-size: 36px;
        margin-bottom: 30px;
    }
    .flex-partners{
        display: flex;
        flex-wrap: wrap;
            align-items: center;
        .one-partner{
            width: 25%;
            padding: 0 10px;
           
            img{
                margin: 0 auto;
               
            }
        }
    }
}
.advisors .pig .m-w-1330 .m-w-23 h4{
    padding-bottom: 20px;
    min-height: 60px;
}
.for-max-w-lg{
    max-width: 850px;
    margin: 0 auto;
}