.butt-link {
  width: 295px;
  margin: 0 auto;
  margin-top: 45px;
  text-align: center;
  padding: 15px 0;
  border: 2px solid #fff;
  display: block;
  border-radius: 50px;
  font-family: "BebasNeueReg";
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#309081), to(#56b855));
  background: linear-gradient(90deg, #309081, #56b855);
  -webkit-box-shadow: -5px -10px 36px -5px rgba(0, 0, 0, 0.4);
  box-shadow: -5px -10px 36px -5px rgba(0, 0, 0, 0.4); }
  .butt-link:hover {
    color: #fff; }

.sec-lvl-1 {
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#262f3f), to(#0c101e));
  background: linear-gradient(90deg, #262f3f, #0c101e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden; }
  .sec-lvl-1 .menu-wr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 80px 0 80px;
    z-index: 10; }
    .sec-lvl-1 .menu-wr .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .sec-lvl-1 .menu-wr .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        list-style: none; }
        .sec-lvl-1 .menu-wr .menu ul a {
          display: block;
          padding: 35px 16px;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          font-family: "BebasNeueReg";
          color: #fff;
          font-size: 18px;
          letter-spacing: 1px; }
          .sec-lvl-1 .menu-wr .menu ul a:hover {
            color: #56b754; }
          .sec-lvl-1 .menu-wr .menu ul a.active {
            color: #56b754; }
  .sec-lvl-1 .for-butt-and-logo {
    position: relative;
    z-index: 10; }
  .sec-lvl-1 .scroll-down {
    position: absolute;
    bottom: 65%;
    z-index: 10;
    right: 10px;
    font-family: "Montserrat-Light";
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: center;
            transform-origin: center; }
    .sec-lvl-1 .scroll-down:before {
      content: "";
      display: block;
      position: absolute;
      right: calc(100% + 15px);
      top: 50%;
      width: 120px;
      height: 1px;
      background: #fff;
      line-height: 14px; }
  .sec-lvl-1 .img-rotate {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-animation: rotate-img 45s infinite linear;
            animation: rotate-img 45s infinite linear; }
  .sec-lvl-1:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-image: url(../img/hard-bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 576px; }

@keyframes rotate-img {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }
@-webkit-keyframes rotate-img {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }
.sec-lvl-2 {
  overflow: hidden; }
  .sec-lvl-2 .for-m-w {
    position: relative; }
    .sec-lvl-2 .for-m-w:before {
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      top: 0;
      width: 236px;
      height: 643px;
      background-image: url(../img/melnitsa.jpg);
      background-repeat: no-repeat; }
    .sec-lvl-2 .for-m-w:after {
      content: "";
      display: block;
      position: absolute;
      width: 912px;
      height: 694px;
      top: 65px;
      left: 65%;
      background-image: url(../img/111111.png);
      background-repeat: no-repeat; }
  .sec-lvl-2 .sliders-wr {
    width: 65%;
    position: relative;
    z-index: 10; }
    .sec-lvl-2 .sliders-wr .my-sl-nav {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 30px;
      padding-bottom: 10px; }
      .sec-lvl-2 .sliders-wr .my-sl-nav:before {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 333px;
        height: 3px;
        background: #60a303; }
      .sec-lvl-2 .sliders-wr .my-sl-nav span {
        font-family: "BebasNeueReg";
        font-size: 30px;
        color: #a9a9a9;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
        font-weight: bold;
        line-height: 52px; }
        .sec-lvl-2 .sliders-wr .my-sl-nav span.active {
          font-size: 48px;
          color: #000; }
  .sec-lvl-2 .sl-2 .slide {
    outline: none; }
    .sec-lvl-2 .sl-2 .slide .mw-my {
      max-width: 555px; }
      .sec-lvl-2 .sl-2 .slide .mw-my p {
        font-family: "Montserrat-ExtraLight";
        font-size: 18px; }
    .sec-lvl-2 .sl-2 .slide:last-child .mw-my {
      margin-left: auto;
      text-align: right; }
  .sec-lvl-2 .sl-2 .slick-arrow {
    display: block;
    position: absolute;
    top: -117px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    outline: none;
    background-image: url(../img/arr-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    font-size: 0;
    background-size: 22px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    .sec-lvl-2 .sl-2 .slick-arrow.slick-next {
      right: -50px; }
    .sec-lvl-2 .sl-2 .slick-arrow.slick-prev {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      top: -135px;
      left: -50px; }
    .sec-lvl-2 .sl-2 .slick-arrow.slick-disabled {
      opacity: 0; }
  .sec-lvl-2 .max_width_container .slider-wr-team {
    padding: 60px 0 30px 0; }
    .sec-lvl-2 .max_width_container .slider-wr-team h3 {
      position: relative;
      font-size: 48px;
      font-family: "BebasNeueReg";
      text-align: center;
      margin-bottom: 70px; }
      .sec-lvl-2 .max_width_container .slider-wr-team h3:before {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        background: #56b854; }
    .sec-lvl-2 .max_width_container .slider-wr-team .for-padd {
      padding: 0 50px;
      position: relative; }
      .sec-lvl-2 .max_width_container .slider-wr-team .for-padd:before {
        content: "";
        display: block;
        position: absolute;
        top: 58px;
        width: 100%;
        left: 0;
        height: 1px;
        background: #eeeeee; }
      .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .one-slide {
        outline: none;
        padding: 0 15px; }
        .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .one-slide .ava {
          width: 115px;
          height: 115px;
          border: 6px solid #e7e7e7;
          border-radius: 50%;
          background-size: cover;
          background-position: center;
          margin: 0 auto 18px auto; }
        .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .one-slide p {
          font-size: 14px;
          color: #595d68;
          text-align: center;
          font-family: "Montserrat-Regular"; }
          .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .one-slide p.name {
            font-weight: bold;
            font-family: "BebasNeueReg";
            font-size: 18px;
            letter-spacing: 1.5px;
            text-align: center;
            margin-bottom: 9px;
            color: #000; }
      .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .slick-arrow {
        display: block;
        position: absolute;
        top: 40px;
        width: 35px;
        height: 35px;
        border: 3px solid #eeeeee;
        background: #fff;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 0;
        outline: none; }
        .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .slick-arrow:before {
          content: "";
          display: block;
          background-image: url(../img/arr-right-2.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: 14px;
          height: 14px;
          width: 14px; }
        .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .slick-arrow.slick-disabled:before {
          opacity: 0.5; }
        .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .slick-arrow.slick-prev {
          right: calc(100% + 12px);
          -webkit-transform-origin: center;
                  transform-origin: center;
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
        .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .slick-arrow.slick-next {
          left: calc(100% + 12px); }
          .sec-lvl-2 .max_width_container .slider-wr-team .for-padd .slider-advisors .slick-arrow.slick-next:before {
            position: relative;
            left: 1px; }

.main-counters {
  padding: 260px 0 120px 0; }
  .main-counters .rel-wrapp {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .main-counters .rel-wrapp .left-side {
      padding-top: 60px;
      width: 47%;
      position: relative;
      z-index: 10; }
      .main-counters .rel-wrapp .left-side .for-flex-line {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 100px; }
      .main-counters .rel-wrapp .left-side .main-counter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .main-counters .rel-wrapp .left-side .main-counter p {
          color: #0c142b;
          font-size: 65px;
          font-family: "BebasNeueReg";
          font-weight: bold; }
        .main-counters .rel-wrapp .left-side .main-counter span {
          font-family: "BebasNeueReg";
          font-size: 70px;
          color: #fd7400;
          font-weight: bold; }
      .main-counters .rel-wrapp .left-side .circular-pie {
        line-height: normal !important;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .main-counters .rel-wrapp .left-side canvas {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
    .main-counters .rel-wrapp .right-side {
      padding-top: 200px;
      width: 53%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative; }
      .main-counters .rel-wrapp .right-side .hard-bg-2 {
        left: -147px;
        position: absolute;
        top: 50%;
        width: 1146px;
        height: 2787px;
        background-image: url(../img/hard-bg-2.png);
        background-repeat: no-repeat;
        top: -1015px; }
      .main-counters .rel-wrapp .right-side p {
        position: relative;
        z-index: 10; }
      .main-counters .rel-wrapp .right-side .hh {
        color: #fff;
        font-size: 18px;
        font-family: "Montserrat-Regular";
        top: 40px; }
      .main-counters .rel-wrapp .right-side .outher-counters {
        position: relative;
        top: 61px; }
        .main-counters .rel-wrapp .right-side .outher-counters .pie {
          line-height: normal !important;
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .main-counters .rel-wrapp .right-side .outher-counters .pie canvas {
            position: absolute;
            top: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
          .main-counters .rel-wrapp .right-side .outher-counters .pie.circular-pie_3 canvas {
            -webkit-transform: translateX(-50%) rotate(200deg);
                    transform: translateX(-50%) rotate(200deg); }
          .main-counters .rel-wrapp .right-side .outher-counters .pie.circular-pie_4 canvas {
            -webkit-transform: translateX(-50%) rotate(262deg);
                    transform: translateX(-50%) rotate(262deg); }
        .main-counters .rel-wrapp .right-side .outher-counters .one-counter {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 25px; }
          .main-counters .rel-wrapp .right-side .outher-counters .one-counter span {
            display: block;
            font-family: "BebasNeueReg";
            color: #fff;
            font-size: 30px;
            font-weight: bold; }
          .main-counters .rel-wrapp .right-side .outher-counters .one-counter p {
            padding-left: 20px;
            position: relative;
            z-index: 10;
            color: #fff;
            font-size: 24px;
            font-family: "BebasNeueReg"; }

#what_we_offer {
  position: relative;
  z-index: 10; }

.footer {
  padding: 0;
  margin-top: -50px;
  padding-bottom: 15px;
  padding-top: 285px;
  background-color: #28a994;
  background-image: url(../img/footer-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  max-width: 1920px;
  margin: 0 auto; }
  .footer:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 338px;
    background-image: url(../img/hard-bg-3.png);
    background-repeat: no-repeat; }
  .footer .for-flex-footer {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 10;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .for-flex-footer .head {
      font-size: 48px;
      color: #fff;
      font-family: "BebasNeueReg";
      font-weight: bold;
      margin: 0;
      line-height: 48px; }
    .footer .for-flex-footer .soc-set-links {
      padding-top: 20px; }
      .footer .for-flex-footer .soc-set-links a {
        display: block;
        color: #fff;
        font-family: "BebasNeueReg";
        margin-bottom: 16px;
        letter-spacing: 1px; }
        .footer .for-flex-footer .soc-set-links a:hover {
          color: #fff; }
    .footer .for-flex-footer .sec-t {
      display: block;
      color: #fff;
      font-family: "BebasNeueReg";
      letter-spacing: 1px; }
    .footer .for-flex-footer form input {
      display: block;
      padding: 1rem 2rem;
      border-radius: 5px;
      max-width: 300px;
      outline: none;
      background: #22918b;
      border: none;
      width: 100%;
      font-family: "Montserrat-Regular";
      letter-spacing: 1px;
      color: #fff;
      margin-bottom: 1.8rem;
      border: 1px solid rgba(255, 255, 255, 0.3); }
    .footer .for-flex-footer form button {
      display: block;
      visibility: hidden; }
  .footer .align {
    text-align: center;
    font-family: "BebasNeueReg";
    font-size: 18px;
    color: #fff; }

.for-flag {
  width: 50px;
  position: relative;
  color: #fff;
  font-family: "BebasNeueReg";
  letter-spacing: 1px; }
  .for-flag .dropdown-wrch {
    display: none; }
  .for-flag .flag-vr {
    padding-left: 22px;
    padding-right: 15px;
    text-transform: uppercase;
    cursor: pointer; }
    .for-flag .flag-vr:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      width: 18px;
      height: 12px;
      background: url(../img/en.png);
      background-size: cover;
      background-repeat: no-repeat; }
    .for-flag .flag-vr:after {
      content: '';
      position: absolute;
      right: 0;
      top: 9px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #fff transparent transparent transparent; }
  .for-flag .pick-lang {
    position: absolute;
    left: 0;
    border: 1px solid #ffffff;
    z-index: 20;
    top: 100%; }
    .for-flag .pick-lang a {
      color: #fff;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      display: block;
      padding: 2px 16px;
      font-size: 16px; }

.sec-fixed-menu {
  position: fixed;
  top: -800px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 100;
  -webkit-transition: 1s;
  transition: 1s; }
  .sec-fixed-menu.js-fixed {
    top: 0; }
  .sec-fixed-menu .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sec-fixed-menu .left-side img {
      -ms-flex-negative: 0;
      flex-shrink: 0; }
    .sec-fixed-menu .left-side .name {
      padding-left: 10px;
      font-family: "BebasNeueReg";
      font-size: 22px;
      color: #539b07; }
  .sec-fixed-menu .menu-wr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 80px 0 80px;
    z-index: 10;
    background: #fff;
    -webkit-box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.05); }
    .sec-fixed-menu .menu-wr .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .sec-fixed-menu .menu-wr .menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0;
        list-style: none; }
        .sec-fixed-menu .menu-wr .menu ul a {
          display: block;
          padding: 28px 16px;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          font-family: "BebasNeueReg";
          color: #595d68;
          font-size: 18px;
          letter-spacing: 1px; }
          .sec-fixed-menu .menu-wr .menu ul a:hover {
            color: #56b754; }
          .sec-fixed-menu .menu-wr .menu ul a.active {
            color: #56b754; }

.sec-lvl-16 {
  padding-top: 90px; }
  .sec-lvl-16 .for-m-w {
    max-width: 900px;
    margin: 0 auto; }
    .sec-lvl-16 .for-m-w h4 {
      font-family: "BebasNeueReg";
      text-align: center;
      font-weight: normal;
      font-size: 56px;
      letter-spacing: 0.4px;
      text-decoration: underline;
      margin-bottom: 50px; }
    .sec-lvl-16 .for-m-w .port-wr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .sec-lvl-16 .for-m-w .port-wr .one-port {
        padding: 0 25px;
        margin-bottom: 50px;
        width: 50%;
        cursor: pointer; }
        .sec-lvl-16 .for-m-w .port-wr .one-port .port {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          background-color: #ffffff;
          -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
                  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.1);
          height: 152px; }
          .sec-lvl-16 .for-m-w .port-wr .one-port .port .left-side {
            width: 35%;
            -ms-flex-negative: 0;
                flex-shrink: 0; }
            .sec-lvl-16 .for-m-w .port-wr .one-port .port .left-side img {
              margin: 0 auto; }
          .sec-lvl-16 .for-m-w .port-wr .one-port .port .right-side {
            width: 100%; }
            .sec-lvl-16 .for-m-w .port-wr .one-port .port .right-side img {
              margin: 0 auto 10px auto;
              max-width: 240px; }
            .sec-lvl-16 .for-m-w .port-wr .one-port .port .right-side p {
              margin: 0; }
              .sec-lvl-16 .for-m-w .port-wr .one-port .port .right-side p.my-center {
                text-align: center; }
              .sec-lvl-16 .for-m-w .port-wr .one-port .port .right-side p.name {
                font-family: "BebasNeueReg";
                font-size: 36px;
                letter-spacing: 0.3px;
                line-height: 36px; }
              .sec-lvl-16 .for-m-w .port-wr .one-port .port .right-side p.sec-desc {
                font-family: "BebasNeueReg";
                font-size: 20px;
                line-height: 1.5;
                letter-spacing: 0.2px; }

.modal-dialog {
  width: 700px;
  margin: 30px auto; }

.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

.modal-header {
  border: none;
  padding-top: 30px;
  position: relative; }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }

.modal.modal-company .company-logo {
  margin-top: 15px;
  margin-left: 25px; }

.modal.modal-company .company-logo img {
  max-height: 63px; }

.modal button.close {
  text-shadow: none;
  background: none;
  position: absolute;
  right: 16px;
  top: 12px;
  z-index: 10;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1; }

.modal-body {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  color: #586A8F; }

.modal.modal-company .company-container {
  margin-left: 10px;
  color: #000;
  font-size: 16px;
  line-height: 24px; }

.modal.modal-company .company-container .row {
  margin-bottom: 20px; }

.modal {
  background: rgba(0, 0, 0, 0.9);
  font-family: "Montserrat-Regular"; }
  .modal a {
    color: #f23545; }

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }

.modal button.close svg {
  width: 40px;
  height: 40px; }

/*# sourceMappingURL=style.css.map */